_ReSharper.Caches
.vs
bin
obj
*.dbmdl
*.jfm
*.env
*.user
Zybach.API/.config
Zybach.API/api-dev.zybach.org.pfx
Zybach.API/secret.json
Zybach.API/appsecrets.json
Zybach.Swagger/appsecrets.json
Zybach.Web/src/assets/config.json
Zybach.Web/wwwroot/
Zybach.Web/.vscode/
Zybach.Web/openapitools.json
Zybach.Tests/environment.json

*.bacpac


Zybach.GeoServer/data_dir/gwc/diskquota_page_store_hsql
Zybach.GeoServer/data_dir/geoserver-environment.properties
Zybach.GeoServer/data_dir/.updatepassword.lock
Zybach.GeoServer/data_dir/security/*
Zybach.GeoServer/data_dir/s3.properties
Zybach.GeoServer/data_dir/controlflow.properties
Zybach.GeoServer/data_dir/logs/geoserver.log.1
Zybach.GeoServer/data_dir/gwc-layers
Zybach.GeoServer/data_dir/logs
Zybach.Web/.vscode
Build/secrets.ini
#Community Version Ignores
.gitmodules
Build/**
charts/**
*.tf

Zybach.API/appsettings.json

Zybach.Database/Scripts/ReleaseScripts/*.sql
!Zybach.Database/Scripts/ReleaseScripts/Script.PostDeployment.ReleaseScripts.sql

Zybach.Database/Scripts/PreReleaseScripts/*.sql
!Zybach.Database/Scripts/PreReleaseScripts/Script.PostDeployment.PreReleaseScripts.sql

Zybach.Web/srs/environments/environment.*
!Zybach.Web/srs/environments/environment.template.ts