$zybach-primary: #0076c0;
$border-gray: #bdc3c7;
$background-gray: #c4c4c4;
$zybach-secondary: #c4c4c4;

#filter-select-buttons input {
    display: none;
}

#filter-select-buttons {
    display: flex;
    background-color: $zybach-primary;
    color: #fff;
    border: 1px solid $border-gray;
    border-radius: 5px;
    overflow: hidden;
}

#filter-select-buttons label {
    float: left;
    padding: 5px 0;
    margin: 0;
    min-height: 27px;
    height: 27px;
    width: 80px;
    text-align: center;
}

#filter-select-buttons label[for="select"] {
    border-right: 1px solid $border-gray;
}

#filter-select-buttons label:hover {
    color: $zybach-secondary;
}

#filter-select-buttons input:checked + label {
    background-color: $background-gray;
    color: #000;
    fw: bold;
}

#filter-options {
    background-color: #fff;
    border: 1px solid $border-gray;
    max-height: 125px;
    overflow: auto;
}
