@use "node_modules/ag-grid-community/styles" as ag;

$grid-header-background: #0076c0;

@include ag.grid-styles(
    (
        theme: balham,
    )
);

.ag-theme-balham {
    .ag-header {
        background-color: $grid-header-background;
    }

    .ag-header-row {
        color: #fff;
    }

    .ag-header-icon {
        color: #fff;
    }

    .ag-header-cell-menu-button {
        opacity: 1 !important;
    }

    .ag-cell-value.context-menu-container {
        overflow: visible;
    }
}
